script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/bootstrap-select.min.js')
script(src='/js/bootstrap-combobox.js')
script(src='/js/bootstrap-treeview.min.js')
script(src='/js/patternfly.min.js')