nav.navbar.navbar-default.navbar-pf(role="navigation")
   .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse-1")
         span.sr-only Toggle navigation
         span.icon-bar
         span.icon-bar
         span.icon-bar
      a.navbar-brand(href="/")
         img(src="/imb/brand.svg", alt="Patternfly")
   .collapse.navbar-collapse.navbar-collapse-1
      ul.navn.navbar-nav.navbar-utility
         li
            a(href="#") Status
         li.dropdown
            a.dropbown-toggle(href="#", data-toggle="dropdown")
               span.pficon.pficon-user
               Brian Johnson
               b(class="caret")
            ul.dropdown-menu
               li
                  a(href="#") Link
               li
                  a(href="#") Another Link
               li.divider
               li.dropdown-submenu
                  a(tabindex="-1", href="#") More Options
                  ul.dropdown-menu
                     li
                        a(href="#") Link

