doctype
html.login-pf
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Sensu/Ubersmith/Puppet Management Interface')
        meta(name='author', content='Cloudy Kangaroo')
        title #{title}
        include _head_css
        include _head_js
        block head
        block style
    body
        span#badge
            img(src='/img/logo.svg', alt='PatternFly logo')
        .container
            block content
        include _footer
        block footer

